# Node modules
node_modules/

# Environment files
.env

# Vite build output
Frontend/dist/

# Log files
*.log

# Vite build output
dist/

# MacOS
.DS_Store

# IDE specific files
.vscode/
.idea/

# Other
coverage/
